<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>TKA Open Evening 25</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alphabrate/popupjs/pu.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main/styles.css')}}">
</head>
<body>
    <main>
        <h1 class="title" id="herotitle">The Kingston Academy - Open Evening 2025</h1>
        <div class="box"><a href="/onboarding"><h1 style="font-family: 'Courier New', Courier, monospace;">typing challenge</h1></a><video width="500" height="450" autoplay loop><source src="{{url_for('static', filename='hellotype-preview.mp4')}}" type="video/mp4"></video></div>
        <div class="box"><a href="/onboarding?mode=advanced"><h1 style="font-family: 'Courier New', Courier, monospace;">advanced typing challenge</h1></a><video width="500" height="450" autoplay loop><source src="{{url_for('static', filename='hellotype-preview.mp4')}}" type="video/mp4"></video></div>
        <div class="box"><a href="/catchthefruit"><h1 style="font-family: 'Courier New', Courier, monospace;">catch the fruit</h1></a><img src="{{url_for('static', filename='catchthefruit.png')}}" width="500", height="450"/></div>
    </main>
    <div class="banner"><span id="banner-text">This was made for The Kingston Acadmey's Open Evening 2025. Thank you for visiting The Kingston Acamdey!</span></div>
</body>
</html>