<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>HelloType</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alphabrate/popupjs/pu.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='typing/styles.css')}}">
    <meta charset="UTF-8">
</head>
<body>
    <main>
        <h1 class="hellotype" id="herotitle">HelloAdvanced</h1>
        <div id="words" onmousedown="return false" onselectstart="return false" oncopy="return false"><span onmousedown="return false" onselectstart="return false" oncopy="return false">Press start to fetch data from the server!</span></div>
        <div id="typing-interface">
            <input type="text" id="typing-input" placeholder="Click start!" autocomplete="off" autofocus>
            <input type="hidden" id="word-count" placeholder="Amount of text you want to type.." autocomplete="off" autofocus>
            <p>You will appear on the leaderboard as <i><span id="name">{{name}}</span></i>. Not you? <a href="/onboarding">CLICK HERE!</a></p>
        </div>
        <button id="start-btn">Start</button>
        <button id="reset-btn">Reset</button>
        <form id="results-form" action="{{ url_for('typing.typing_results') }}" method="POST">
            <input type="hidden" name="wpm" id="wpm-field">
            <input type="hidden" name="accuracy" id="accuracy-field">
            <input type="hidden" name="time" id="time-field">
            <input type="hidden" name="mistakes" id="mistakes-field">
        </form>
    </main>
    <div class="banner"><span id="banner-text">This was made for The Kingston Acadmey's Open Evening 2025. Thank you for visiting The Kingston Acamdey!</span></div>
    <script src="{{url_for('static', filename='typing/advanced_type.js')}}"></script>
</body>
</html>